@{
    ViewBag.Title = "Club History";
}
<h2>@ViewBag.Title</h2>
<h3>Forward</h3>

<p>
    After many enjoyable years (beers) had passed (p****d) in the company of fellow brewers in the James River homebrewers it occurred that a good number of original founding club members had gone on to other pursuits. I looked around and realized I was one of the most tenured members of this fine organization but had joined well after it's founding. I had little knowledge of the club's origin. I was concerned that the knowledge of our Club's origin and early history would be lost if it was not soon documented. Our founding secretary, Mark Stansbury, was very astute in compiling an archive that was filled with oldBrewsleaders and relevant papers. It is with a fond memory that I look back over many years with the Club and recollect the friendships among all walks of life that are drawn to our homebrew club. Thanks to Jack Jackson for making this club's history not just a thought but a reality.
</p>

<p><h4><i>Rob Pettus</i></h4></p>

<h3>Preface and acknowledgements</h3>

<p>
    A definition of the word history might be: that branch of knowledge that deals with the aggregate of past events. Wow! That sounds too big to me. To take this literally would mean telling the story of every homebrewer and every brew, every meeting and event etc... since the beginning of our club. Instead I've tried to produce only a running account of the main activities of the James River Homebrewers, in simplified form and in two parts, so that members can trace the sequence of events and personalities that have resulted in what we have today. This is not a history of club brewing or brewing techniques. That would be a fun story too. No, this is mostly about people in the club. I'll bet some of you will spot errors and omissions. Please fill me in so we can amend the story over time and make it more accurate. Thanks to those who helped me out: my wife Dian who doesn't enjoy typing, but will do it anyway. Thanks to the following people who talked to me about Club history: Dan Mouer, Mark Stansbury, Jim Dickerson, Lindsay Weiford, Padge Severin, John Wise, Rob Pettus and Jeff Hewit who sending this to you. Now it's time for a homebrew!
</p> 
<p><h4><i>Jack Jackson</i></h4></p>

<h3>The History of the History</h3>

<p>In 1998 Jeff Hewit drew up and published a proposed set of by-laws to govern our club. These were accepted in October 1998 by a vote of the membership at the regular meeting. Rob Pettus had suggested in 1997 that the club's history should be maintained by the Member at Large and this duty was written into the by-laws on page 2, section 4, "The Duties of Officers". Unfortunately for Member at Large P. J. McCarthy and his successors, the club's history consisted of a shabby box full of jumbled documents. These included old newsletters, rosters and forms, many of which were undated, as well as lots of correspondence of unknown importance. Later that year enjoying a homebrew at P.J.'s house, we started collating the materials in order that a chronological account of the doings of the James River Homebrewers might be written. When P. J. moved, I got hold of all the stuff, and I've been working on the "Club History" ever since. (Off and on, mostly off.) The following, then, is the long overdue History of The James River Homebrewers.</p>

<h3>Part 1 - The First 10 Years</h3>

<p>It's fun to think of our founders gazing into glasses of great homebrew and thinking, "This brewing thing is cool, let's start a club." But that's jumping ahead a little. An important part of the story is the context of the decision to start a club, the mood of the times, the late 70's-early 80's. This was post-Hippie time and stacks of Mother Earth News were everywhere. People were into making and growing stuff and self-sufficiency was a sought after virtue. To be sure, there had always been home brewing in America, from the ale-loving colonials up to the thirsty victims of prohibition. But the homebrewing surge begun in the late 70's was for a different reason.</p>

<p>In 1979 President Carter signed a bill legalizing the home manufacture of beer for personal use. In England, homebrewing had been legal since 1965, so English books, equipment and ingredients became available to Americans. Beer lovers who had sampled English and Continental Ales and Lagers were becoming bored with the more bland American Light Lager; home brewing was seen as a source for more flavorful beers. So the homebrewers of the early 80's were more about "good beer" than cheap beer. The appeal of home brewing was such that the hobby spread quickly throughout the Country. The American Homebrewers Association was founded in the late 70's and Zymurgy appeared in 1979. People who were brewing at that time have said that they mischievously enjoyed the slightly sinful aspects of making their own libation, the more so since brewing had so recently been against the law. A sense of experimentation and empowerment pervaded the hobby.</p>

<p>
    In 1999 (wake-up were almost back to the future) the JRH invited Club co-founders Dan Mouer and Mark Stansbury to be our featured speakers at our October meeting and tell us about the beginning of our Club. Dan and Mark were both brewing on their own in the early 80's and the only places in town in late 82 where homebrew ingredients and equipment could be gotten were the Complete Gourmet and the two Bacchas and Beef stores. Dan went into Bacchas and Beef with a notice he'd prepared inviting brewers to get together and found a club. Mark's notice was already posted on the homebrew shelf. The two got together and in February 1983 a meeting was held at Mark's house on Park Ave. in Richmond with 13 persons in attendance.
</p>
<p>
    A newsletter was mailed out and a second meeting was scheduled 7:00 PM, Sunday, March 13, 1983 to be held again at Mark's place. After this, a newsletter calling itself the BrewsLeader was mailed to members of "The James River Homebrewers Club" and I quote the following excerpt: "With the added enthusiasm of five new members, we chose club and newsletter names and discussed membership qualifications, discounts, dues, and future activities." Clearly a beginning had been made.
</p>
<p>
    At the April 1983 meeting, it was decided that, although the Club was to be an open fellowship using consensus decision making, some leadership was needed for maintaining focus and interacting with the rest of the world. A slate of officers were chosen as follows: President; Dan Mouer, Vice President; Martin VanDerNieuwenhuizen and Secretary/Treasurer; Mark Stansbury. Dues were set ($15.00 per year at first, then later 12.00 per year). It was agreed that any one drinking irresponsibly or behaving unsafely would be asked not to return. "Bacchas and Beef " offered supply discounts to members and distributed discount cards. Also in that fist year, a social gathering took place and "Club News" was sent to Zymurgy. Zymurgy used to include a club news section in each issue but this has been discontinued.
</p>
<p>
    The Richmond Times Dispatch did a couple of pieces about the Club and home brewing. One article by Jann Malone appeared in the Thursday June 23, 1983 edition and was called: "Good, cheap, beer can be brewed at home". Ms. Malone cited Club members Dan Mouer and Chuck Turner as her only sources; also she gave the Club a plug. The article brought in new members. By the end of the summer plans for a competition were shaping up and a trip to a brewery was being discussed.
</p>
<p>
    In April 1983, by-laws were adopted. The IRS required these for recognition as a tax-exempt "social and recreational club." By-law number one reads: "The James River Homebrewers Club, or the Club, is established for the purpose of fellowship between homebrewers of beer, ale and wine in the Richmond, Virginia area." Fifteen years later, the Club adopted new by-laws that include a new statement of purpose: "The purpose and objective of the Club is to promote the public awareness of homebrewing, improve the brewing skills of members through education and instruction, cooperative brewing, competitions and beer tastings, to have good fellowship and to encourage the responsible enjoyment and consumption of brewed beverages." I include these two statements of our Clubs purpose simply for the historical record. Clearly the gas pressure propelling our rhetoric is now greater than that which fills our glasses.
</p>
<p>
    For the first several years the Club meetings were held in members homes on the second Sunday evening each month. The April 1985 meeting was held in a pub. R. Dunderbak's at Regency Mall and later in the early 90's the Club met often at the Quarter Deck in Westover Hills. These events foreshadowed our now familiar practice of meeting at Legend Brewing Co.
</p>
<p>
    By the time the second annual competition was held it had become quite sophisticated. Like our present Dominion Cup it was open to one and all, and beers were judged in categories "A" through "F". In time the events were timed to correspond with AHA style contests. Expert judges were asked to help out. These folk were mostly from the wine and beer retailing community. For a bunch of guys who claimed to want a "laid back" club, The James River Homebrewers set a pretty full agenda for themselves with meetings, parties, contests and a bus tour in the works.
</p>
<p>
    Dan Mouer is my primary reference for this stuff except for the newsletters we have. Dan said Rhett Rebold and Gary Tolley were the first to do all grain brewing. They modeled their procedure from books by Byron Burch, Dave Line and Dave Miller. Dave Miller published Home Brewing for Americans in 1981. This book gives step by step all grain instructions. By contrast, the now more famous Charlie Papazian book, The Complete Joy of Home Brewing didn't appear until 1984. Getting back to Rhett Rebold, some of you may remember that he has won the Dominion Cup twice and also has won the 1995 National Homebrewer of The Year and Ninkasi awards.
</p>
<p>
    On August 19, 1984, the Club took a car tour to the now defunct Chesbay Brewing Co, in Virginia Beach. We continue to enjoy similar tours. The Club has had eight Brews Cruises in the last decade. These trips are listed in the appendix.
</p>
<p>
    A feature of our recent history since 1997 has been Club brewing to produce beer for the Club's regular parties. This isn't a new idea. The April 1987 meeting wasn't a meeting; it was the "Big Brew" or "Monster Mash." Members met at the home of Algis Radizisaukas. Algis, it seems, had some sort of huge stainless boiler, so the Club met at his house. They produced thirty gallons of wort that day from fifty pounds of grain. The cool thing was that members then took portions of the wort home with them and pitched their own favorite yeast. Different end products then came from a single wort. As far as I know the only guy brewing on this scale today is Chuck Wine who is famous for brewing eye-popping volumes of the frothy stuff. The "Big Brew" was an event that was repeated several times in the 80's.
</p>
<p>
    In 1987 Meeting night was changed to Wednesday. Succeeding Dan as president was Gary Tolley. He also did the secretary's job and published the newsletter from 1985 to 1990 (July). In August 1990, the BrewsLeader got a "slick" new look. Club Secretary "Barley Bob" Barker had great desktop publishing skills, and began to include articles about beer and brewing to augment the Club news. Bob was respected by all in the Club and was a beer nut. In an interview for this report, Padge Severin told me that Barley Bob was a beerologist. think I know what that is. After serving as president for years, Gary Tolley stepped down and the Club picked long time member Jim Dickerson to succeed him. Jim was an all grain brewer who had won his share of contests with his tasty creations. Note: Jim is now a coproprietor of the "Commercial Tap House and Grill" on Robinson Street. The August 1990 BrewsLeader was loaded with enthusiastic ideas. Reading this first newsletter from Barker shows that the "beer mania" that affected the Country during the 90's already had a serious hold on his brain.
</p>
<p>
    Gary Tolley had conceived of a promo flyer for the Club, Barker updated this idea and posted flyers all over town. He expanded the BrewsLeader mailing list to include other clubs and homebrew shops. He hoped that this would generate greater public awareness of the Club, attract new members and position JRH as "the beer authority in Central Virginia." Included in that issue was a stamped, addressed comment card. Each was asked to fill it out and suggest ideas for the BrewsLeader and the Club. Barker listed four sample suggestions, two of which became history; a State Fair homebrew judging category and field trips (i.e. Brews Cruises). Barker was looking for a tavern to meet in and doing the ABC homework to see what, if anything, they had to say about it. He called for samples of brewer's label art to put in the BL and established the "Brews Line", a twenty four-hour a day voicemail service through First Page of Virginia for member messages and public inquiries. Imagine "Barley Bob and the Beer Beeper." We, of course, keep in touch now via the website. As you can see, a lot was happening in 1990. Barker referred to his secretarial job as the "Minister of Propaganda," or "MP" and meeting dates were called "Thirst Days."
</p>
<p>
    The JRH has had an Oktoberfest party every fall since 1987. In 1990 the event was called "Oktoberfest" and was hosted by former president Gary Tolley. The advertised keg of Spaten Festbier didn't appear because of the distributor's foul-up (sound familiar) but long time member Rhett Rebold saved the day by spiriting down a keg of Dominion Lager from Ashburn. President Jim Dickerson treated the Club to home made pretzels and Gary Tolley pulled out a "Memories of Munich" brew which all enjoyed. The end of the year found members toasting the holidays at Jim Dickerson's house. Somebody brought in a home brewed "Fruitcake Beer" and an Imperial Stout. Danny Morris was a member at that time and showed up with self-published copies of the first edition of his Richmond Beers, which members scarfed up.
</p>
<p>
    With the appearance of the January 1991 BrewsLeader, the new format had matured with regular features. "Brewers Exchange": an informational source guide and trading post and "Still Fermenting": side bar news about beer events and legislative news of interest. Meeting sites bounced around in 1991. The "St. Paddy's Hooley" was held again at "The Cat and the Moon" (John and Cris Wise's downstairs pretend tavern). Like Oktoberfest, this party was an important addition to the calendar, with live Irish music and some of our finest beers. A highlight of the preparation for St. Paddy's was "Virgin Sacrifice Day", a brew session for novices run by Jim Dickerson to brew an Irish Red Ale for the party. Other members brought porter and stout to the party. The following month brought the sixth annual Club Competition on April 24th and this was won by President Jim with his wheat alt.
</p>
<p>
    Younger members of our Club reading this report may not know that for many years an afternoon paper appeared every day named The Richmond News Leader and our own news letter's name is a parody of this. The News Leader was shut down in 1991, but not before we got some good press in an article on home brewing by Andrew Petkofsky and a piece on the old "Richbrau Brewery" by Steve Clark. The demise of the News Leader prompted Club members to consider renaming the newsletter but obviously this didn't happen.
</p>
<p>
    Following another Oktoberfest at President Emeritus, Gary Tolley's house the Club took time for business and elected a new slate of officers in November to begin service in 1992. Mark Stansbury begin his ninth year as treasurer, Jim Dickerson moved to the Board and John Wise became President. John wise wasted no time issuing a Presidential Proclamation, which I include here as a model for future Club Presidents.
</p>
<p>
    Fellow Brewmeisters: First of all, I want to thank everyone for elevating me to this time-honored position. Together; we will guide this club to new heights of national recognition; in other words, out of the gutter and on to the curb. On election night I promised "free Beer" and with the helpful insight of our senior members, I know our newer members will keep us supplied with fresh new ales and lagers, eagerly awaiting an honest appraisal of their efforts. This is the essence, or bouquet, of this organization. Through the coming year, we will surreptitiously plunder the stock of all with dedicated tastings, competitions and field trips. Armed with church keys, the future is ours to open!
</p>
<p>
    Learning to serve (good beer)<br />
    Serving to learn (good recipes)<br />
    Earning to serve (good beer first)<br />
    Serving to earn (first place for good beer)<br />

</p>
  <p>
    From the amber waves of grain to the waters of the mighty James. "Free Beer"
</p>
    The year 1991 ended with the Christmas Party at the Hand Workshop, 1812 West Main Street. The January 1992 BL included a twelve-month events calendar with most events scheduled to be either at that venue or at John's house. The calendar includes the proposal for the usual style competitions, in coordination with AHA, as well as plans for St. Paddy's, Oktoberfest and Christmas parties. Two items of interest on this events calendar were a proposed bus trip to Baltimore (Pub Crawl) and a proposed home brew competition for the September State Fair. The Club Only Competition was announced and registration forms were included in the March BL. It is noteworthy that President John Wise had beers on the "best of show" tables in 91 and 92. Other brewers, whose names we know in the 1992 top six are: Bob Barker, Alan Williamson, Padge Severin and "mead master" Mark Vick.
<p>
    Now it's time out for a mystery that needs to be solved. The 1992 Club Only Competition "Best of Show" laurels went to Mike Dannenburg for his Weizen bier. His BOS certificate and forms are still in the box of Club stuff. He never got his award. I called John Wise and he couldn't remember what happened. Seems like Mike Dannenburg just left and didn't come back. If anyone can help me get the certificate to its owner, please let me know.
</p>
    The May 1992 Brews Leader contained a pitch for members to fork over their dues. That had a familiar ring to it! Address labels identified culprits with a "C" for "complimentary copy." A couple of these were all you got before excommunication. Another piece from May that year was entitled "The Mother of All Road Trips." A Baltimore Pub Crawl was planned for August 15th . Members would arrive in Baltimore that day for a group tour and visit to the Inner Harbor and an afternoon free-for-all in Fell's point. This was to be Brews Cruise I, but this name had not been applied yet.
<p>
    Planning for the October 3 State Fair home brew competition occupied the JRHB inner circle for the rest the summer. The Oktoberfest event was planned to be on the same day (Oct. 3) only at another location. (Granite Recreation Assoc.) The appointed day came and the JRH set up shop in the Home Arts exhibition building at the State Fair. While the competition was being set up and run, other members put up a display of homebrewing materials, equipment and literature. The whole thing lasted from 10 AM to 4 PM when the winners had been chosen. The list is in the November '92 Brews Leader and contains a lot of familiar names. Rhett Rebold won Best of Show with a pilsner. Alan Williamson was the Club's first BJCP certified judge and together with Victor Gottlieb coordinated the registration and judging. Other qualified judges came from neighboring clubs. This was an AHA sanctioned competition and we now mark this event as the beginning of the annual Dominion Cup Competition.
</p>
<p>
    John Wise, who had handled the business with the Fair, had also lined up the Granite Recreation Center for the evening Oktoberfest party. The Club regrouped and celebrated the event with a keg of Sam Adams Oktoberfest, a bonfire and an awards ceremony. The November meeting was held at Davis & Main Restaurant where the Club returned in December for a sampling of holiday brews, a book discussion and "beer dinner." The year ended with rumors of openings: Richbrau Brew Pub was being planned but the location hadn't been revealed. The city's first beer bar, the Avalon was being viewed as a meeting site, but ABC was holding them up. Rumor had it that a brewpub or brewery might open in south side near the Spaghetti Warehouse; Imagine that!
</p>
<p>
    The Club was entering a new era in 1993. Barker was on line with CompuServe, the source for the AHA Brewers Forum. A glance at a roster in the November 1992 BrewsLeader shows names of Club founders as well as future leadership. The James River Homebrewers had grown up after it's first ten years and, except for a few bumps in the road, has run smoothly for it's last ten years.
</p>
<p>
    Look for the Club history from 1992 to present in the March BrewsLeader as well as an appendix listing key events, personalities and anecdotes for you to enjoy.
</p>
    <h3>Part 2</h3>

    In March 1983, the Richmond Times-Dispatch published a piece by Joe Gatins lamenting the absence of locally produced beer in Richmond. In "Pull For This Idea Richmond," Gatins complained that since the demise of the Home Brewing Company (Richbrau), in 1969, the beer brewing trade in our town had ceased to exist. Gatins proposed that the time was ripe for a local brew, "nothing special" he said, "but something identified with Richmond."
<p>
    Not since the 19th century had small breweries operated here, and the Home Brewing Company which tried to make a Bud-Miller clone couldn't compete with the giants. But by the end of the eighties, a share of the market had become visible to those who would see it that emphatically didn't want an ordinary can of barley-pop.
</p>
<p>
    Homebrewers were certainly a part of the new beer revival of the 80's, and by the end of the decade much home crafted beer was of professional quality. In fact, many of the best homebrewers made the switch to professional brewing, and have lead what has absolutely been a beer quality and style renaissance in the 1990's.
</p>
<p>
    The 1990's saw Joe Gatins call for local beer answered, big time, as the market for "micro-brewed" beer grew to economic significance. During the Club's second decade, the James River Homebrewers were very much involved with the Richmond beer scene, supporting the local houses while receiving support from the beer business community in return. It would seem that the Club, while making much of its own craft beer has affected the community by actually increasing retail sales at the "micros" by promoting awareness of all the wonderful flavor possibilities.
</p>
<p>
    The year 1993 was a mixed success for the Club; starting with a bang and ending with a fizzle. But don't worry, obviously we survived. Here's what happened.
</p>
<p>
    An impressive run of BrewsLeaders represent "Barley Bob" at his best. Since 1990 the Newsletter had been pretty slick, and 1993 was no exception. There were tech articles on brewing techniques, e.g., liquid yeast handling and HBU computations. The "Street Talk" sidebar news tracked the planned start-ups of two beer bars -the Memphis and the Avalon, not to mention the hoped-for launchings of the new Richbrau Brewpub and the Cobblestone Brewery. Jim Dickerson and Memphis owner James Talley hosted several beer dinners in 93' at the Memphis where beers were paired with entrees, a la Michael Jackson.
</p>
<p>
    The coverage of Club news and business was well done and Bob's enthusiasm is reflected by the reams of Club related correspondence in the "history" box.
</p>
<p>
    The January 1993, the BrewsLeader contained a calendar with the whole year mapped out, and in February, the masthead featured our Club logo for the first time. This was designed by John Rhett and proclaimed us to be the "James River Brewers." Starting in August 1991, Bob changed "Homebrewers" to "Brewers" in the Club return address and made the masthead change in November 1991. The Club name was restored in 1995 to avoid confusion with the James River Brewing Company which was opened in that year.
</p>
<p>
    By Spring the BrewsLeader had a circulation of about 60 persons (including a couple of "C" copies) and from all appearances the Club was in good shape. But by Fall the Club was experiencing a cash shortfall due to a failed fundraiser and the planned "Brews Cruise II" that never happened. Nowadays we secure tickets for bus trips with hard cash, not signatures. In August 1993, due to increased personal demands on his time, Barley Bob Barker resigned from the post of Club Secretary and the Club had to scramble to fill the vacuum.
</p>
<p>
    With the resignation of the Club Secretary, President John Wise had to do that job as well as his own. The September BrewsLeader appeared as usual and contained all the necessary information. As for "Barley Bob" Barker, a couple of years later found him associated with the Mid Atlantic Association of Small Brewers. He was a guest on the WRVA Lou Dean show, promoting the first "River City Real Beer Festival" and then he went to work at Legend as a manager and PR guy, where he helped put out the Legend newsletter "Around the Horn." He was back in the Club for a while, but we lost track of him when he moved to Oregon. But please see the letter from him in the May 2003 BrewsLeader; great to hear from old friends of the Club.
</p>
<p>
    Richbrau Brewing Company opened in July 1993 and the September BrewsLeader listed the new brewpub as the meeting site for September. Ending the year, the alliance of Jim Dickerson and James Talley became a business reality when the partners opened the Commercial Grill and Taphouse on Robinson St. The Dominion Cup competition was at the State Fair again and Alan Williamson was the coordinator for that event.
</p>
<p>
    Tom Martin visited our Club in the fall of 1993 and pledged to support our Club if we would support Legend Brewing Company. The October BrewsLeader informed members that the October meeting would be at the notyet-opened Legend Brewing Company on South 7th Street on Saturday October 16, this to be an Octoberfest party with Club food and Legend beer. Lindsay Weiford had set this up and was the coordinator for the event. Lindsay, a Blacksburg brewer had joined our Club, and armed with some advanced brewing techniques was helping members move to the next level in the craft.
</p>
<p>
    The guys who stood for election to the Board in the Fall 1993 turned out to be a very important group for the Club. Things have run like clockwork since they took over. To wit: Lindsay, President, Wally Janiszewski Vice President, Padge Severin, Secretary and Rob Pettus, Member-at-Large. Mark Stansbury stayed on as treasurer and Jim Dickerson and John Wise provided the Board with experience. The Club met at the new "Commercial Taphouse and Grill" in November and in December were at the "Cat and the Moon" (read part one for directions to the "Cat and the Moon").
</p>
<p>
    The end of 1993 saw the Club on its feet and getting into Richmond's burgeoning beer scene, aiding and abetting the new breweries and pubs with patronage, publicity, and sometimes elbow grease. It should be mentioned that a regular feature of the Club meetings, since the early days, has been a featured presentation. This might be a style discussion tailored to AHA style competitions or a more general discussion of beer lore and brewing techniques.
</p>
<p>
    January 1994 began with a discussion of water in brewing at the regular Club meeting. Other technical discussions that year included yeast culturing and mashing. Members hosted seven meetings and two parties that year; the November meeting was preempted by the Dominion Cup. The competition was held at the "Memphis." Legend Brewing Company began selling beer in early 1994 and the first keg of Legend Brown Ale was tapped at the Commercial Taphouse on January 12,1994. Club members attended this sacred event and supported Legend throughout the year. This relationship produced a solution to the meeting place problem, and ever since the December 1994 holiday meeting, the Legend Pub has been our home.
</p>
<p>
    These were crazy times for homebrewers. The hobby had grown past anyone's expectations and by mid decade, the AHA membership was twice what it is at the time of this writing (2003). This growth led to increased demand for high quality ingredients which was met by local and national suppliers, and quality was up. We had access to the same malt and hops that the pros were using and liquid yeast from Wyeast was the ingredient that made all the difference. The situation in the 1980's had been pitiful in this regard. Gary Tolley told me that they thought hops were supposed to be yellow and oxidized in the early days.
</p>
<p>
    In Richmond, Legend Brewing Company opened a supply store in the storage room next to the Pub. Brewers could buy malt by the pound or by the bag. James River Brewing on Main Street was a fully stocked homebrew store. Mitch Walker at James River steered many brewers, including me, in the right direction with his recommendations. The Weekend Brewer down in Chester did the same, and has outlasted the competition to become our first choice for quality ingredients, equipment, and advice. Proprietor Bob Henderson is not only a homebrewing Guru but is a member of our Club and serves as AHA liaison.
</p>
<p>
    Former President John Wise, who had published the BrewsLeader starting with September of 1993, stayed at the paper's helm until June of 1994 while the new board settled in. These papers were brief but I have enjoyed reading them -lots of tidbits. Some day we'll publish the "Best from the BrewsLeader " for all to enjoy.
</p>
<p>
    The first copy of the BrewsLeader I received after pitching in my dues was the June 1995 edition. From July 1994 to December 1996, the BrewsLeader was the product of Secretary Slamming Padge Severin. Padge who was himself a fine brewer had a knack for creating an upbeat but informative document which was enjoyed by all. Lets face it, the BrewsLeader sets the tone for the Club and Padge got it just right in the mid 90's. Stuff was happening and it jumped right off the page. For example: "May's meeting (1995) was what Buffalo Bill had in mind when he used the word "Wild" in his show Wild West. There was homebrew coming out of the walls! Somebody had obviously gotten the news out about James River Brewers! Like, here's a bunch of people who like people and get together once a month to taste and talk about hand crafted beers made by themselves." The history from 1994 until the present is very easy to compile because of the quality of the newsletters from Padge Severin and his successor Jeff Hewit.
</p>
<p>
    Returning to 1994, Rob Pettus submitted a report on the trip several members made to Stoudt's East Coast Micro Brewery Festival. Rob used to sign off on his travel reports with "On the Road with Fran & Mike." Nowadays, Fran and Mike don't get out quite as much. Also in that issue was promo stuff for the upcoming Dominion Cup at Memphis Cafe. Best of show went to Rhett Rebold for his Strong Scotch Ale. Padge won first place in both the Brown Ale and Belgian categories. John Wise took a first with his Wheat, and for those of you who thought Scott McDonald was always a pro, be advised he won a ribbon for his Amber Lager. Looking at this list of 1994 Dominion Cup winners we see the name of Bob Trimble, a Club member who took a 3d with a light/amber ale.
</p>
<p>
    The February 3, 2000 Times-Dispatch carried an article on this guy in the Lee Graves "Beer Guy" feature. Bob started a micro in Tazewell, built out of junk by him and Alan Williamson. I wonder if "Clinchbrau Brewing Co." still exists? Either way, this is a great homebrewing story.
</p>
<p>
    A 1994 idea that we should revive was a beer label contest as part of the Dominion Cup. This was won by Scott MacDonald who was obviously on a roll that year. Padge described the December consumption of the Dominion Cup losers in less than picturesque terms. There must have been some nasty ones. It is our practice to enjoy the losing Dominion Cup beers at the meeting after the contest. Judges and Stewards are rewarded if they have recorded the entry numbers of the good losers for their own later reference.
</p>
<p>
    In March 1995 Bob Barker, back in our fold, was acting as a liaison between the Club and Legend. On the afternoon of March 30,1995, the English Beer Writer and High Brow of Hops, Michael Jackson, arrived in town for a brief visit to take notes for a book project. Barley Bob escorted this famous personage around town with great aplomb and reported on the event in "Around the Horn." As Richmond's premier beer snobs including Padge and others watched Mr. Jackson methodically tasted Tom Martin's wares and scribbled on a notepad. Pictures of everybody shaking hands with Michael Jackson used to be plastered on the bulletin board in Legend's downstairs pub.
</p>
<p>
    On a more serious note, Padge reported in March of 1995 that the law was being amended to allow the transportation of 15 gallons of homebrew to a private function and the gift of 72 ounces to another person. How did the Club operate under the old law, namely no transport of brew from ones house and no sharing? It should be pointed out that one of our missions since inception has been to encourage legislation more friendly to our hobby. Ultimately it had been the general public's enthusiasm for craft beer that made the time ripe for micros, beer festivals and legislative reform. We couldn't do it by ourselves. In fact the April 1995 BrewsLeaderannounced the plans for the "River City Real Beer Festival." The festival was the brain child of the Mid-Atlantic Association of Small Brewers together with Richmond's Downtown Presents. Such an event would have been unimaginable ten years earlier. The Club participated in this event with an "educational" booth at which Lindsay, John and others brewed beer for the summer party. Members also served as Beer Captains, answering questions and helping out. This event was quite popular with members who continue to participate in the festivals to the present time.
</p>
<p>
    The Club gained new members and generally prospered in the Spring of 1995. Summer saw the beginnings of a new agenda format and an experiment called the "Club Case." Members would brew to a style on the Club nickel, then bring a case in to augment a style discussion. I don't remember what happened to this feature but the beers were mostly excellent. Sadly for the Club, Alan Williamson left in September 95' to pursue personal interests and we lost a very active and expert member of long standing. Our reliance on Alan was such that the planned Dominion Cup, which was to be held at the Innsbrook October Festival, was shelved. There was no Dominion Cup Competition in 1995. President Lindsay Weiford agreed to serve as Competition Coordinator at the conclusion of his term as president. Though disappointed about the Dominion Cup cancellation, the Club still set up an educational and recruiting booth at the Innsbrook Festival. The booth was in between the Taps of the brand new James River Brewing Company and the Legend truck. Club volunteers were the beneficiaries of the generosity of our friends at both breweries.
</p>
<p>
    The rest of the Fall was business as usual. Officers were asked to set down the duties of their positions. These job descriptions have evolved into the "duties" section of our present by-laws. Dave Barnes was elected president for the term 1996-1997. A letter from the new president laid out his plans in the December BrewsLeader. Dave announced that the 1996 Dominion Cup, under Lindsay's direction, would be in June to coordinate with the River City Real Beer Festival. The year ended with a Christmas party at John Wise's house. The winter of 1996 was a rough one and snow caused the postponement of the January meeting, but by February the Club was back on schedule with plans for a St. Patrick's Day party at Scott McDonald's party house. The beer served was Legend Pale & Porter. In 1997 the Club began a tradition of brewing for St. Patrick's Day .
</p>
<p>
    In April 1996 a regular column devoted to beer matters began to appear every Thursday in the Times Dispatch. The "Beer Guy" Lee Graves gave everybody on the scene some great publicity, including us. He publicized our competition and events until his last column on Thursday August 23,2001. At this time we don't have a replacement forum for our propaganda. Although Lee never officially affiliated with the Club, he was a homebrewer himself and his beers did well in our Dominion Cup competitions. In the Thursday May 20, 1999 Times Dispatch there was an eight page pull-out supplement promoting the River City Festival. Lee wrote the whole thing and on page 6 there was an article about us called "Club spreads word about beer brewing." Featured in the supplement were pictures of Club members including John Wise, Tim Casey, Jeff Hewit and Jean Koral. I have this supplement if anyone wants to see it.
</p>
<p>
    The 1996 Dominion Cup was a big success with 85 entries and 12 certified judges. The judging took place upstairs in the Main Street Grill in the Farmers Market. The competition had been advertised in AHA since January, so the word was out. The Summer was slow, but with interesting feature presentations. Mike Flournoy showed us how to brew beer cheaply and old member Bob Barker got Legend filling corny kegs for us. In the fall we elected a new Vice President, Secretary and Member-at-Large. Padge's last BrewsLeader was the December issue, bringing to an end two years of corny but funny and sometimes hilarious double takes and pot shots. Here's an excerpt from the November 1996 BrewsLeaderabout a mishap at the Octoberfest Party at John Klonick's country estate.
</p>
<p>
    "Then there was Rob Pettus...very soft earth, a prehistoric mammoth 4 wheel rear axle Winnebago. Then there were boards. Then there were chains. Then there were disgruntled neighbors. Then there was "never cross on my land again." I think you're getting the picture now. So, we've come up with two new rules for our parties from now on:
</p>
<p>
    Never drag a Winnebago through someone's soft yard
    Drinking vessels that cannot be lifted with one hand after filling are not allowed.
</p>
<p>
    The year ended with the Holiday Party at Jean Korol's place, and was said to have been an all-time great party. Jean didn't know what she was getting herself into by joining the James River Homebrewers, but we must agree that she wrote the book on great entertaining.
</p>
<p>
    It now appears that the Club History is going to be quite a few more words than I had originally thought. There's so much good stuff in the old papers that I want to include. There will be a part III beginning with January 1997 and I hope to wrap it up. Look for this by the first of the year, I hope.
</p>
    <h3>Part 3</h3>

    In January 1997 theBrewsLeadergot a new look when Jeff Hewit took over publishing duties from Padge Severin. In his first issue Jeff thanked Jean Korol for hosting the 1996 Holiday party saying she was too new to realize what she might be getting herself into. If Jean could have seen into the future she might have agreed but if Jeff had looked into the crystal ball he might have balked at the prospect of an eight-year hitch as secretary.
<p>
</p>
    In the first half of 1997 our President was Dave Barnes. Dave, a biology teacher, an excellent brewer and a popular president, so it was a bummer when he announced in March 1997 that he and his wife Barb were going to move to Boston in the summer. Jean Korol agreed to accept the nomination to be Dave's replacement and was elected in May.
<p>
</p>
    Jean made running the club look far easier than it is, but she did a lot of work behind the scenes. She coordinated with the Mid-Atlantic Association of Small Brewers, insuring a role for us at the River City Real Beer festival. Jean's upbeat style set the tone for all of our events to succeed. Competition coordinator Lindsay Weiford ran a super Dominion Cup in 97 with 115 entries. Club brewing for our parties was a smash with lots of Club sponsored beer for our four fetes namely: St. Pat's, summer, Oktoberfest, and Holiday parties.
<p>
</p>
    In late summer 97, Jean hooked up with channel 23 and a filming of the fall brew session was planned as part of a feature on the JRHB, set to air on the Virginia Currents show later in 97 or 98. We had scheduled the Oktoberfest brew for my house, but I had never planned on having my backyard on TV. Thanks a lot Jean! We have a copy of the Virginia Currents tape of our ancient rite, which we view on the Brews Cruise bus each year. The year ended with a Holiday party at Padge's house where we toasted the season with barleywine wort (inside joke).
<p>
</p>
    Most of the info for the "history" from 97 until December 04 is from BrewsLeaderproduced by Jeff Hewit " 96 issues. I would like to recognize his contributions in this text. Somehow Jeff has the ability to take accurate meeting notes while drinking beer. I have tried this and I can't do it, but Jeff did it for eight years. He has also given us some solid ideas that have been implemented with a mind to improving club efficiency and structure. He proposed and drafted appropriate bylaws, which we adopted in 1998. As a credentialed BJCP judge, Jeff has been a judge in many competitions. He has given us a lesson in beer judging almost every year as preparation for the club competition in March. When Jeff informed the board of his intention not to seek reelection they hated to see him go, but understood that enough is enough. Jeff said once, "ex-officers get their best ideas after their terms have expired". Let's hope that Jeff will supply the club with lots of good ideas in the future.
<p>
</p>
    It is interesting that as recently as 1997, very few members were using kegs; most were bottling all their homebrew. John Klonicke demonstrated kegging equipment and techniques at a club meeting in 97 and Jeff noted in the newsletter: "There are two kinds of brewers: those who keg, and those who wish they did," so John gets credit for teaching a lot of us how to use kegs. I still refer to the handout material from John's discussion. This is a good place to cite John's contributions to our club. In the 10 years he has been in the club, John Klonicke has hosted parties, coordinated club brew sessions and club programs. He served as president for the 2000-2001 term.
<p></p>
    By 1998 we were mostly on the yearly schedule we follow now. Having a track to run on simplifies planning and provides continuity.
<p></p>
    A tradition that was established more or less in 98 is our volunteering our services to pour beer at the Legend anniversary party. Our friend and host, Tom Martin gets us to work the bar so Legend staff can kick back and party.
<p></p>
    Our brews cruise usually takes place in February, before the Legend party, and the 1998 trip to Baltimore was an all time blast, but that is another story.
<p></p>
    Then in 1998, and I would like to get personal for a moment, after 18 years of homebrewing I finally won a contest. Yes, I did, I won the 1998 club competition and Jeff printed in big letters, "JACKSON WINS" on the front page of the April newsletter in a font usually reserved for something like Lindbergh's Atlantic crossing. What a kick! The trick in those days was to get Steve Jarrett to taste your beer and tell you what your style was after the fact. No fooling, that worked.
<p></p>
    As I have mentioned before, we adopted our bylaws in 98 and these held sway until 2002 when we amended them to provide for a new position on the Board, the assistant to the competition coordinator. This officer serves one year in preparation for becoming the competition coordinator the following year.
<p></p>
    This amendment was the brainchild of Mr. Hewit and it fixed a long-standing problem, namely no one wanted to be competition coordinator if it meant two years of Dominion Club craziness. The year ended, as always, with biannual elections and a Holiday party. P.J. McCarthy was our host in 98.
<p></p>
    Starting in 1999, the board was enlarged to include six directors; the thinking was six heads are better than three. Long-time member Stan Kidwell began a period of service as a director and we were lucky to get his experience and savvy. Stan has served on quite a few club boards.
<p></p>
    Brent Raper won our 1999 club competition with an exceptional IPA, thus becoming a two-time winner. I remember this as being one of the best beers I have ever tasted.
<p></p>
    Frank Timmons who was known as a wheat beer brewer surprised us by taking the Dominion Cup with his barley wine. That was another exceptional beer. It seems that by 1999, good homebrew was not good enough anymore.
<p></p>
    Dave Barnes was back in Richmond and coordinated a discussion on Marzen beers.
<p></p>
    In October of 1999 club founders Dan Mouer and Mark Stansbury came to our regular meeting and talked about the founding and early history of the JRHB. A lot of Part I of this text grew out of that meeting with Dan and Mark.
<p></p>
    Since then Dan Mouer has rejoined his club and, natural leader that he is, we have worked the heck out of him ever since. Seriously, in the last five years Dan has served as Vice President, party host, and party beer brewing coordinator. He has started a wine interest group, which has grown into a separate organization unto itself.The Central Virginia Winemakers is a loosely knit group of thirty or so, who meet monthly and have a website. If you appreciate the grape, see Dan.
<p></p>
    John Klonicke opened his doors to us for the 1999 Oktoberfest party. His country house and yard were perfect for crisp weather bonfires and homebrew. John cracked everybody up by having homebrew taps mounted on pumpkins. Nice touch John.
<p></p>
    At her last meeting as Madam President, the club presented Jean Korol with an engraved pewter mug, this was done out of affection for Jean. This began a tradition of honoring presidents in this way, but Jean actually earned hers.
<p></p>
    As part compensation for the loss of Jean's leadership, fate sent us a couple of newcomers in the fall of 1999. Jeff and Stasi York had perfected their brewing chops in the Knoxville area and showed us guys a thing or two when they moved here. Jeff celebrated the new millennium by brewing a killer barleywine. (Did they ever figure out when the millennium really started?) The Yorks won the 2000 Club Competition and came in third in the strong ales category in the Dominion Cup that year.
<p></p>
    The Yorks have given a lot to the club since they first joined over five years ago, more stuff than I can list, but I would like to recognize some of their efforts. Stasi organized and moderated BJCP classes, increasing our roster of certified Judges. In between they've led style discussions, hosted club brews and coordinated our participation in BURP's mashout event. Now that they are parents Jeff and Stasi might slow down a bit, but don't bet on it.
<p></p>
    In January 2000, the club brewed 20 gallons of beer for the March St Pat's party. A rims system put together by John Klonicke was used for 10 gallons of red ale and 10 gallons of bitter. The club had never been busier, but on a national scale the homebrewing hobby was in decline, the heady euphoria of the early 90's had been replaced by the apathy brought on by more great beer than anyone could have imagined. Membership in the AHA was down to about half of 1995's numbers, so Charlie Papazian hit the beer trail to get the homebrewing engine pumping again. Richmond was a stop over on Charlie's itinerary and he spent a day here making friends and preaching (mostly to the choir) about the "Joy of Homebrewing." Bob Henderson, who at that time was affiliated with us and a now defunct club called the Weekend Brewers played the part of host to Charlie and he did a great job. I have a small glass emblazoned with the boast "I drank with Charlie," and an autographed copy of Charlie's famous tome. Our April meeting took place at Richbrau where Charlie was honored and gave a speech.
<p></p>
    Frank Timmons did the impossible when he won the Dominion Cup for a second time in 2000, this time with a Bavarian Weizen.
<p></p>
    In 2000 we got a new member in the person of Chuck Wine, from Glouster NJ. Chuck was and enthusiastic brewer with an enormous system (by homebrew standards). It's been the practice of the club to solicit the membership for volunteers to host one of our four parties, and I remember Chuck enthusiastically gave us the use of his house on the lake time after time for that purpose. For this generosity we remain very grateful. Chuck has since moved back to New Jersey, but we hope he will stay in touch.
<p></p>
    Other repeat hosts include Ted and Betty Warren who had their first club Holiday party in 2000, and it was a blast. These folks know how to party. Ted remains very active and I suspect hooked on brewing for good.
<p></p>
    As you may know those who bring homebrew to meetings get free raffle tickets and lots of people brought lots of beer to the January 2001 meeting. This did not prevent our VEEP, Jeff York from selling a lot of tickets and starting his new job on a positive note.
<p></p>
    In 2001, I won the club competition again, prompting Jeff Hewit to say, "See brewing is so easy even an idiot can do it."
<p></p>
    In 2001, member Mark Vick gave a very interesting talk on mead making. He's done this a couple of times and it's always fun. Mark is BJCP certified, and is a very senior member of the club, having joined in 1990. Anyone, who has ever shared a judging table with Mark knows this guy really knows his stuff.
<p></p>
    The 2001 Dominion Cup was won by Cal Townes with a Belgian Specialty Ale. This was a busy year for Cal, who also managed our Brews Cruise to Baltimore and hosted the Holiday party.
<p></p>
    After a hard fought campaign against myself, I was elected president for the 02-03 term, and having earned political capital, I intended to spend it. So, I spent a quarter and called Jeff Hewit and asked him what I should do. Here's some stuff we did.
<p></p>
    The bylaws were amended as previously mentioned; creating the Assistant Competition Coordinator position and Joel Trojnar accepted that position. That ensured an experienced successor for Mike Buddle at the end of his term.
<p></p>
    We proposed and the board agreed that there should be six board meetings each year instead of four. This, of course, provides two more chances to drink beer.
<p></p>
    In early 02, the board approved expenditures to establish and maintain a website, and later in the year Mr. Ronnie Anderson was appointed webmaster. Our site quickly became something to be proud of.
<p></p>
    Jeff Hewit won the club competition proving that even with the handicap of not being and idiot, one can learn to brew good beer.
<p></p>
    In 2002 the Dominion Cup was held at Legend, and thanks to Tom Martin we have had it there ever since. It is a perfect place for the competition with cold storage in the lagering room and an almost deserted pub on Saturday mornings.
<p></p>
    Also in 2002, Stasi York ran the BJCP study group we've mentioned and agreed to serve as assistant competition coordinator for 2003. Another new face on the board was none other than the Abraham of our flock, Dan Mouer who took over as vice president from Jeff York.
<p></p>
    The year ended with a seasonal merriment at the home of Tedd and Donna Smith. Wonder if Tedd, like Jean Korol in 1996, had any idea how much club work the future had in store for him.
<p></p>
    Plans for a Brews Cruise to Chapel Hill occupied the beginning of 2003, along with consideration of how we might appropriately celebrate the twentieth anniversary of the James River Homebrewers in February. It was decided that the anniversary celebration should be combined with the St. Pat's gala. As many former members, including charter members, as possible were contacted and invited to attend the March 22 party which was planned to be held at Chuck Wine's house. To this end the first ever "Super Sunday Simul Brew" was held at the Yorks, and at my place resulting in enough pale ale and stout to quench the thirst of an army of reprobates.
<p></p>
    I recall that anniversary party was a blast, attendance by former members was disappointing, but it was great to see Jim Dickerson and Algis Radizisaukas of monster mash fame. Gary Tolley, Lorna Leake, and Mark Stansbury were contacted but couldn't come. Maybe for the thirtieth??
<p></p>
    Jeff and Stasi won the 03 Club Competition with their unbeatable Imperial Stout. I'll be glad when they run out of that stuff so someone else has a chance.
<p></p>
    The 03 Dominion Cup was a very smooth operation. Joel and Stasi oversaw the judging of 99 entries. Home team brewers who did well were: Jeff Hewit (first placepale ale), Joel Trojnar and Keith Shelton (first place brown ale), Patrick Foster (first place Belgian and French ales), and Jeff York (third place porter).
<p></p>
    The year 2004 is the end of the line for this story and what a great year for the club it was.
<p></p>
    Tedd Smith took on the president's job in January 2004. Believe me, he was already plenty busy with active kids, and a business to run. We were lucky to have him. Bobby Yenney became our secretary, and brewmeister Steve Severtson stepped in as assistant competition coordinator. Please note as an aside, Steve's classic American pilsner took first place in the AHA nationals, American light lager competition in 2002.
<p></p>
    Stasi became competition coordinator. She was perfect for this job, possessing an eye for detail and a mania for organization. It should be noted that Stasi didn't let the fact that she was about to be a mother interfere with life's most important calling, judging homebrew.
<p></p>
    We welcomed Woody Elliot to the board as a director, and he accepted the post of assistant competition coordinator starting in 05. Rounding out the board for 04, Joel and I served as directors.
<p></p>
    It's amazing how our club program caters to the needs of beginners and experienced brewers alike. In 04 Bob Henderson taught a class in "Brewing 101", Jeff Hewit did his "beer judging" talk, and Bobby Yenney and I demonstrated kegging techniques. But also in 04 a group of our members spent a Saturday at Richbrau Brewing Co., brewing an enlarged version of Steve Severtson's "Pre-Pro Pils" in a real brew house. This beer was later on tap at Richbrau with attribution for the club, and for Steve.
<p></p>
    History repeated itself in 2004 with a big brew reminiscent of the "Monster Mash". Four teams of brewers converged at the Weekend Brewer's" store to participate in the Mongolian cluster brew. Four beers were made to be consumed and judged at the 04 Holiday party. The Holiday party and judging took place at Steve and Kimmie Jarrett's new digs, and it was a super party. The competition was intense, but the team of Keith Shelton and Cecil Graham took the honors with their Infinite Gravity Stout. For their efforts the winners were presented with the ceremonial Cluster Brew mash paddle hand crafted by master cabinet maker Ted Warren. The intention is to do this every year.
<p></p>
    Jumping around a bit, it is noteworthy that Keith accepted the nomination and was elected to be our secretary for 05 and 06, succeeding the eight-year tenure of wild man and reporter Jeff Hewit. From the looks of the 05 Brews Leaders, the revered periodical is in good hands.
<p></p>
    We're familiar with the AHA style competitions where the various clubs have particular style competitions, the winners which are sent to be judged against each other for the championship.
<p></p>
    Our club hosted the national IPA style competition in 04, and Bobby Yenney whose "Hop Soup II", had won our IPA competition, and came in second in the nationals. Way to go Bobby!
<p></p>
    Stasi had a busy year since she had not only the club competition and the Dominion Cup to run, but also the IPA competition, which involved 52 entries.
<p></p>
    Also noteworthy from 04 was a program presentation from Professor Dan Mouer on the history of Richmond brewing. This talk was the second for Dan on Old Dominion brewing history. The first being based on Dan's published work, "Making Mrs. Cary's Good Ale", Beer in Colonial Virginia. Back in May of 02 Dan made beer using a colonial recipe and technique which was served as an adjunct to his lecture on the brewing of a colonial beer. I doubt that other clubs have programs of this quality.
<p></p>
    Ending this report on the club's activities in 2004. I'd like to acknowledge a few of my friends who are always in the middle of everything the club is up to. To wit: Bob Henderson, Steve Jarrett, Mike Buddle, Mark Vick, George Hatchell, Glen Edwards, Bobby Yenney, Ted Warren, Woody Elliot and the beautiful Miss Denise Pierce our Member at Large. I hope to get to know all of our newer members soon. Special thanks to our friend and host Tom Martin and the whole mob down at Legend. Tom has been our patron and benefactor for over 10 years, we are deeply in debt to him.
<p></p>
    In conclusion we have seen the JRHB evolve from a small informal group into a busy organization with a full calendar and enough impromptu events to make life interesting. All of this because of our members who love good beer, making good beer, and getting together to cement friendships, honor the gods of brewing and celebrate happy occasions.
<p></p>
    It's not easy enough to make excellent beer for some folks, but for those who love beer, appreciate the brewer's art, and enjoy a challenge, the lure of homebrewing is irresistible.
<p></p>
    To quote my friend, Mike Buddle, "the more we brew, the better we drink".
<p></p>
    I'd like to coin a phrase too, how about, "the more we support the James River Homebrewers, the better our supply of friends and fond memories becomes". Remember also friends, to support what Barley Bob called the "Art of Brewing in the Heart of Virginia."
<p></p>
    Cheers,
<p></p>
    <h4><i>Jack</i></h4>

