
@{
    ViewBag.Title = "ClubEvents";
}

<h2>Club Events</h2>
<div class="ClubEventsScroll">
    <div class="ClubEventsRow">
        <span class="ClubEventsRowTitle">10th Annual CASK Beer Blitz</span>
        <p>
            <span class="RedBold">NOTE: Registration is now closed for this event.</span>
            <table>
                <tr><td><b>What</b>:</td><td>&nbspThe Colonial AleSmiths and Keggers (CASK) presents their 10th annual Beer Blitz homebrew competition.</td></tr>
                <tr><td><b>When</b>:</td><td>&nbspSaturday, January 28, 2017 at 9:00 AM</td></tr>
                <tr><td><b>Where</b>:</td><td>&nbspSt. George Brewing Company, Hampton Virginia</td></tr>
            </table>
        </p>
        <p>
            The Tenth Annual Virginia Beer Blitz is a BJCP/AHA Sanctioned Competition and will be conducted using the 2015 BJCP Style Guidelines, including all 34 beer categories, 4 mead categories, and 2 cider categories.
        </p>
        <p>
            For more information, please visit our friends at CASK @@ <a href="http://www.colonialalesmiths.org/BeerBlitz/" target="_blank">Colonial AleSmiths and Keggers</a> <br />
            and...<br />
            <a href="http://www.stgbeer.com/" target="_blank">St. George Brewing Co., Hampton, VA</a>
        </p>
    </div>
    <div class="ClubEventsRow">
        <span class="ClubEventsRowTitle">JRHB Club Winter Party</span>
        <p>
            <table>
                <tr><td><b>What</b>:</td><td>&nbspJRHB Club, Winter Party & Cluster Brew competition.</td></tr>
                <tr><td><b>When</b>:</td><td>&nbspThis Saturday, January 21st 2017, 6:37 PM EST.</td></tr>
                <tr><td><b>Where</b>:</td><td>&nbspO'Hara's crib.</td></tr>
            </table>
        </p>
        <p>
            JRHB will be holding its annual Winter Party and Cluster Brew competition.
            Festivities will start promptly at <b>6:37 PM</b> at Lloyd O'Hara's place.
        </p>
        <p>
            If you have an extract brew for the Cluster Brew competition, bring it! If you don't, come anyway!
        </p>
        <p>
            Bring some food for sharing, the only rules for that is that it can't be something from a bag that is crunchy.
        </p>
        <p>
            Please message/email Lloyd (<a href="mailto:Lohara11@verizon.net?Subject=JRHB%20Winter%20Party" target="_blank">Lloyd's Email Address - Lohara11@verizon.net</a>) for directions and to RSVP so we have at least a vague idea how many folks are attending.
        </p>
        <p>
            Looking forward to seeing everyone there!
        </p>
        <p>
            ~Brian Kinzie
        </p>
    </div>
    <div class="ClubEventsRow">
        <span class="ClubEventsRowTitle">JRHB Club, February Brew Session</span>
        <p>
            <table>
                <tr><td><b>What</b>:</td><td>&nbspJRHB Club, February Brew Session</td></tr>
                <tr><td><b>When</b>:</td><td>&nbspThis Saturday, February 215th 2017, 9:00 PM - 4:00 AM EST.</td></tr>
                <tr><td><b>Where</b>:</td><td>&nbspMr. Spiesberger's house @@ 7817 Silktree Pl</td></tr>
            </table>
        </p>
        <p>
            Something new we are trying out this year is to have members host a brew day at their house on (perhaps) a monthly basis.  The club will provide some food, so everyone can come out and share some beers see how different people brew and just try and have some general fun!
        </p>
        <p>
            This is also a chance to bring people that aren't necessarily members but are interested in homebrewing, our club, or just people who like good food and beer!
        </p>
        <p>
            William is hosting the first one. More details will be added as they are hammered out.
        </p>
</div>
</div>

