
@{
    ViewBag.Title = "ClubEvents";
}
@*https://www.asp.net/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application*@
<h2>Club Events</h2>
<div class="ClubEventsScroll">
    <div class="ClubEventsRow">
        <span class="ClubEventsRowTitle">JRHB Club, Dominion Cup Homebrew Competition</span>
        <p>
            Dominion Cup!
            <table>
                <tr><td><b>What</b>:</td><td>&nbspJRHB Club, Annual Dominion Cup Homebrew Competition!</td></tr>
                <tr><td><b>When</b>:</td><td>&nbspSaturday, August 5th 2017</td></tr>
                <tr><td><b>Where</b>:</td><td>&nbspCenter of The Universe, 11293 Air Park Rd. Ashland, VA 23005</td></tr>
            </table><br />
            Go to the Dominion Cup portal for details... <a href="https://dominioncup-jrhb.org/" style="color:blue" target="_blank">Dominion Cup</a>
        </p>
    </div>
</div>

