@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>James River HomeBrewers Club<div>
    <img src="~/Content/images/jrhbCrestClear.png" width="150" height="150" alt="James River HomeBrewers Club" />
</div></h1>
    <h4>The Art of Brewing in the Heart of Virginia</h4>
</div>
<div><h2>Announcements:</h2></div>
<div class="announcement" text-decoration:none;color: #354a16; >
    <p>
        Dominion Cup!
        <table>
            <tr><td><b>What</b>:</td><td>&nbspJRHB Club, Annual Dominion Cup Homebrew Competition!</td></tr>
            <tr><td><b>When</b>:</td><td>&nbspSaturday, August 5th 2017</td></tr>
            <tr><td><b>Where</b>:</td><td>&nbspCenter of The Universe, 11293 Air Park Rd. Ashland, VA 23005</td></tr>
        </table><br />
        Go to the Dominion Cup portal for details... <a href="https://dominioncup-jrhb.org/" style="color:blue" target="_blank">Dominion Cup</a>
    </p>
     <p>
        Check out the new @Html.ActionLink("\"Club Events\"", "ClubEvents", "Home", new { @class = "announcement" }) page for information on upcoming things to do!
    </p>
   </div>
<div class="row">
    <div>
        <h2>Welcome!</h2>
        <p>
            You're here now and we're glad that you are. Sorry we don't have a lot going on at the moment with our web site. We're still heating mash water.
        </p>
    </div>
</div>
<div class="row">
    @*<div  class="col-md-4" id="jrhbCrest"><img src="~/Content/images/jrhbCrest.jpg" alt="James River HomeBrewers Club" /></div>*@
    @*<div  class="col-md-4" id="jrhbCrest"><a href="https://www.homebrewersassociation.org/" target="_blank"><img src="~/Content/images/ahaLogo.jpg" alt="American Homebrewers Association" /></a></div>*@
</div>
<p></p>
<div class="row">
    <span><i>"BEER IS PROOF THAT GOD LOVES US AND WANTS US TO BE HAPPY."</i></span>
</div>
<div class="row">
    <span>~Benjamin Franklin</span>
</div>


