@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>James River HomeBrewers Club<div>
    <img src="~/Content/images/jrhbCrestClear.png" width="150" height="150" alt="James River HomeBrewers Club" />
</div></h1>
    <h4>The Art of Brewing in the Heart of Virginia</h4>
</div>
<div><h2>Announcements:</h2></div>
<div class="announcement" text-decoration:none;color: #354a16; >
    <p>
        Coming up soon is our JRHB Club, February Brew Session! 
        <table>
            <tr><td><b>What</b>:</td><td>&nbspJRHB Club, February Brew Session</td></tr>
            <tr><td><b>When</b>:</td><td>&nbspSaturday, February 25th 2017, 9:00 AM - 4:00 PM EST.</td></tr>
            <tr><td><b>Where</b>:</td><td>&nbspMr. Spiesberger's house @@ 7817 Silktree Pl., Mechanicsville, VA</td></tr>
        </table><br />
        Go to our @Html.ActionLink("\"Club Events\"", "ClubEvents", "Home", new { @class = "announcement" }) page for details...
    </p>
    <p>
        There are a ton of great opportunities for you to participate and support regional and national homebrew comps.  We'll be adding links here:<br />
        <a href="http://carboyclub.com/shamrock-competition/" target="_blank">Carboy Homebrew Club Shamrock Open XXII</a><br />
        <a href="http://beerscores.com/comp_details.aspx?id=1124" target="_blank">1st Annual Port City Plunder Wort City Brewers</a>

    </p>

    <p>
        Check out the new @Html.ActionLink("\"Club Events\"", "ClubEvents", "Home", new { @class = "announcement" }) page for information on upcoming things to do!
    </p>
    <p>
        Colonial Ale Smiths && Keggers' 10th Annual Beer Blitz Results <a text-decoration:none;color: #354a16; href="http://www.colonialalesmiths.org/BeerBlitz/" target="_blank">Here!</a>
        We had a great day hanging out with everyone down at <a href="http://www.stgbeer.com/" target="_blank">St George Brewing Company</a>
    </p>
</div>
<div class="row">
    <div>
        <h2>Welcome!</h2>
        <p>
            You're here now and we're glad that you are. Sorry we don't have a lot going on at the moment with our web site. We're still heating mash water.
        </p>
    </div>
</div>
<div class="row">
    @*<div  class="col-md-4" id="jrhbCrest"><img src="~/Content/images/jrhbCrest.jpg" alt="James River HomeBrewers Club" /></div>*@
    @*<div  class="col-md-4" id="jrhbCrest"><a href="https://www.homebrewersassociation.org/" target="_blank"><img src="~/Content/images/ahaLogo.jpg" alt="American Homebrewers Association" /></a></div>*@
</div>
<p></p>
<div class="row">
    <span><i>"BEER IS PROOF THAT GOD LOVES US AND WANTS US TO BE HAPPY."</i></span>
</div>
<div class="row">
    <span>~Benjamin Franklin</span>
</div>


