@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>James River HomeBrewers Club<div>
    <img src="~/Content/images/jrhbCrestClear.png" width="150" height="150" alt="James River HomeBrewers Club" />
</div></h1>
    <h4>The Art of Brewing in the Heart of Virginia</h4>
</div>
<div class="announcement">Due to the Winter Party being this Saturday, there will NOT be a meeting this Wednesday, January 18th, at Mekong. Some folks may show up out of an inherent inner drive to go there no matter what, but there is no "official" meeting this week. Cheers, and see everyone Saturday (please RSVP to Lloyd O'Hara [<a href="mailto:Lohara11@verizon.net?Subject=JRHB%20Winter%20Party" target="_blank">Lohara11@verizon.net</a>] about your attendance).</div>
<div class="row">
    <div>
        <h2>Welcome!</h2>
        <p>
            You're here now and we're glad that you are. Sorry we don't have a lot going on at the moment with our web site. We're still heating mash water.
        </p>
    </div>
</div>
<div class="row">
    @*<div  class="col-md-4" id="jrhbCrest"><img src="~/Content/images/jrhbCrest.jpg" alt="James River HomeBrewers Club" /></div>*@
    @*<div  class="col-md-4" id="jrhbCrest"><a href="https://www.homebrewersassociation.org/" target="_blank"><img src="~/Content/images/ahaLogo.jpg" alt="American Homebrewers Association" /></a></div>*@
</div>
<p></p>
<div class="row">
    <span><i>"BEER IS PROOF THAT GOD LOVES US AND WANTS US TO BE HAPPY."</i></span>
</div>
<div class="row">
    <span>~Benjamin Franklin</span>
</div>


