
@{
    ViewBag.Title = "Meetings";
}

<h2>@ViewBag.Message</h2>
<p>
    Please join us at one of our meetings.  We meet the second Wednesday of each month at <a href="http://mekongisforbeerlovers.com/" target="_blank">Mekong Restaurant</a> 
        (<a href="http://tinyurl.com/jng7u8w" target="_blank">6004 W Broad St, Richmond, VA</a>).  
    Thank you to  An and the entire Mekong staff for your gracious hospitality.
</p>
<p>
    Meetings are open to all, but must be 21 years of age.  Members and attendees are encouraged to bring samples of their brews for tasting and critique.
    You can join the JRHB by coming to any club Meeting.  You don't need to be a member to participate in the meetings, but I think you'll find that that being a member is extremely beneficial.  Dues are only $20 per year.
</p>
<img src="~/Content/images/stein.PNG" width="50" height="50" alt="Stein" />
<p></p>
<p></p>
<div class="row">
    <div class="alert-danger"><strong>! Remember - Drink Responsibly - Don’t Drink and Drive !</strong></div>
    <p class="alert-warning">
        <i>
            Members and guests at James River Homebrewers meetings and events are individually and solely liable for any and all actions attendant to or resulting from their participation.
        </i>
    </p>
</div>